* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 4rem;
    list-style: none;
    text-decoration: none;
}

/* Variables */

:root {
    --brand-color: #442ee5 ;
    --text-strong: #0c082b;
    --text-weak: #2e2a4d;
    --stroke-strong: #5c549c;
    --stroke-weak: #bbb9cb;
    --fill: #d6d5de;
    --divider: 1px solid var(--stroke-weak);
}

h1 {
    font-size: 2rem;
}

p {
    line-height: 1.5rem;
    flex-wrap: wrap;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans",sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    color: var(--text-weak);
} 

.header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(0.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    border-bottom: var(--divider);
}
.header__content .header__title {
    font-size: 40px;
    white-space: nowrap;
}

.header__nav {
    display: none;
}

.header .menu img {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar__menu{
    position: fixed;
    top: 68px;
    right: 0;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
    background: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    display: none;
    flex-direction: column;
    margin:0;
}
  
.sidebar__menu .li-item {
   padding-bottom: 6px;
}

.sidebar__menu .li-item:hover {
    background-color: var(--fill);
    cursor: pointer;
}
  
.sidebar__menu .li-item a {
    padding-right: 100%;
    color: var(--text-weak);
}

.sidebar__menu.active {
    display: flex;
}

.education {
    margin-top: 72px;
    margin-bottom: 72px;
}

.education--content {
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education--content h1 {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.level {
    margin-bottom: 1.5rem;
    padding: .5rem;
    border: 1px solid var(--stroke-weak);
}

.education--content h3, .education--content h4 {
    margin: .5rem;
    text-align: center;
}

.education--content h3 {
    font-size: 1.5rem;
}

.education--content h4 {
    font-size: 1.25rem;
}

footer {
    padding: .5rem 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(0.5rem);
    border-top: var(--divider);
}

footer span {
    font-size: 1.5rem;
}

@media screen and (min-width: 480px) and (orientation: landscape) {
    .education {
        margin: 32px 24px;
    }
    .education--content {
        padding: 40px;
    }
    footer {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .main {
        padding-top: 64px;
    }
    .header {
        padding: 1rem 3rem;
    }
    .header .menu img {
        display: none;
    }
    .header__nav {
        display: block;
    }
    .header__nav .header-ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .header__nav ul li a{
        color: var(--text-weak);
    }
    .education{
        margin: 48px;
    }
    .education--content {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .level {
        padding: 1rem;
    }
    footer {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape)  {
    .education {
        margin: 80px;
    }
    .education--content {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .education--content h2{
        padding-bottom: 1.5rem;
    }
    .level {
        padding: 1.4rem;
    }
}

@media only screen and (min-width: 1280px) {
    .main {
        padding-top: 80px;
    }
    .education {
       margin: 20px 230px;
       margin-bottom: 80px;
    }
}
